fastapi
uvicorn
pydantic-settings
pypdf
pdf2image
pdf2docx
pdfplumber
pandas
python-pptx
Pillow
python-multipart
openpyxl
sqlalchemy
psycopg2-binary
google-cloud-storage
passlib
bcrypt==3.2.2
python-jose[cryptography]
httpx
pymupdf
PyMuPDF
google-auth
requests